<h2> Lists are used to store multiple items in a single variable .
 List items are ordered, changeable, and allow duplicate values.
 Lists are created using square brackets [ ].

In [1]:
Fruits = ['apple', 'banana','guava','pineapple']

In [2]:
type(Fruits)

list

<h3> adding multiple list in a single varible

In [3]:
Fruits1 = ['apple', 'banana','guava','pineapple']
Fruits2 = ['orange', 'pear', 'kiwi']

In [4]:
Fruits = Fruits1 + Fruits2

Fruits

['apple', 'banana', 'guava', 'pineapple', 'orange', 'pear', 'kiwi']

In [5]:
# indexing/slicing
# start with left to right is 0 to so on
# start with right to left is -1 to so on

In [6]:
Fruits[0]

'apple'

In [7]:
Fruits[2]

'guava'

In [8]:
Fruits[-1]

'kiwi'

In [9]:
Fruits[3:5]     # last index no does not return value it's excluded

['pineapple', 'orange']

In [10]:
Fruits[2:-2]

['guava', 'pineapple', 'orange']

In [11]:
Fruits[:]

['apple', 'banana', 'guava', 'pineapple', 'orange', 'pear', 'kiwi']

<h3>Replace or change items

In [12]:
Fruits[0] = 'watermelon'

In [13]:
Fruits

['watermelon', 'banana', 'guava', 'pineapple', 'orange', 'pear', 'kiwi']

<h3> add a single item in the end by append() methos

In [14]:
Fruits.append('apple')
print(Fruits)

['watermelon', 'banana', 'guava', 'pineapple', 'orange', 'pear', 'kiwi', 'apple']

<h3> add multiple item or  list at end of give list by extend method

In [15]:
Fruits.extend(['pomegranate','strawberry','berry'])
print(Fruits)

['watermelon', 'banana', 'guava', 'pineapple', 'orange', 'pear', 'kiwi', 'apple', 'pomegranate', 'strawberry', 'berry']

In [16]:
vegetable = ['potato', 'tomato','pea','pumpkin']
Fruits.extend([vegetable,'pomegranate','strawberry','berry'])

In [17]:
print(Fruits)

['watermelon', 'banana', 'guava', 'pineapple', 'orange', 'pear', 'kiwi', 'apple', 'pomegranate', 'strawberry', 'berry', ['potato', 'tomato', 'pea', 'pumpkin'], 'pomegranate', 'strawberry', 'berry']

<h3> Insert a item in the given position by insert() method

In [18]:
vegetable = ['potato', 'tomato','pea','pumpkin']

In [19]:
vegetable.insert(1,'brinjal')  # first argument is index number
vegetable

['potato', 'brinjal', 'tomato', 'pea', 'pumpkin']

# Remove a item with given name and index by remove() and pop() method

In [20]:
vegetable.remove('pea')   # give the item name if name is not available in list then it's gives an error

In [21]:
vegetable

['potato', 'brinjal', 'tomato', 'pumpkin']

In [22]:
vegetable.pop(3)
vegetable

['potato', 'brinjal', 'tomato']

# remove all item in a list by clear() method

In [23]:
Fruits1 = ['apple', 'banana','guava','pineapple']

In [24]:
Fruits1.clear()
Fruits1

[]

<h3> Find total number of a single item in a list by count() method

In [25]:
Fruit_vegetable = ['watermelon', 'banana', 'guava', 'pineapple', 'orange', 'pear', 'kiwi', 'apple', 'pomegranate', 'strawberry', 'berry', 'potato', 'tomato', 'pea', 'pumpkin', 'pomegranate', 'strawberry', 'berry', 'potato', 'tomato', 'pea', 'pumpkin', 'pomegranate', 'strawberry', 'berry']

In [26]:
Fruit_vegetable.count('watermelon')

1

In [27]:
Fruit_vegetable.count('strawberry')

3

In [28]:
Fruit_vegetable.count('hello')  # if item not in the list it's return zero

0

# Sort the list by sort() method

In [29]:
Fruit_vegetable = ['watermelon', 'banana', 'guava', 'pineapple', 'orange', 'pear', 'kiwi', 'apple', 'pomegranate', 'strawberry', 'berry', 'potato', 'tomato', 'pea', 'pumpkin', 'pomegranate', 'strawberry', 'berry', 'potato', 'tomato', 'pea', 'pumpkin', 'pomegranate', 'strawberry', 'berry']

In [30]:
Fruit_vegetable.sort()
Fruit_vegetable

['apple',
 'banana',
 'berry',
 'berry',
 'berry',
 'guava',
 'kiwi',
 'orange',
 'pea',
 'pea',
 'pear',
 'pineapple',
 'pomegranate',
 'pomegranate',
 'pomegranate',
 'potato',
 'potato',
 'pumpkin',
 'pumpkin',
 'strawberry',
 'strawberry',
 'strawberry',
 'tomato',
 'tomato',
 'watermelon']


# Reverse the elements of the list in place by reverse() method

In [31]:
Fruits = ['watermelon', 'banana', 'guava', 'pineapple','pomegranate']
Fruits.reverse()

In [32]:
Fruits

['pomegranate', 'pineapple', 'guava', 'banana', 'watermelon']

# Return a shallow copy of the list by copy() method

In [33]:
Fruits = ['watermelon', 'banana', 'guava', 'pineapple','pomegranate']
a = Fruits.copy()
a

['watermelon', 'banana', 'guava', 'pineapple', 'pomegranate']

<h1> List Comprehensive
<h3> List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list

In [34]:
Fruits = ['watermelon', 'banana', 'guava', 'pineapple', 'orange', 'pear', 'kiwi',
          'apple', 'pomegranate', 'strawberry', 'berry', 'pomegranate', 'strawberry', 'berry']

list = []

In [35]:
for i in Fruits:
    if 'b' in i:    # find item which have alphabet 'b'
        
        list.append(i)
        
print(list)

['banana', 'strawberry', 'berry', 'strawberry', 'berry']

In [36]:
Fruits = ['watermelon', 'banana', 'guava', 'pineapple', 'orange', 'pear', 'kiwi',
          'apple', 'pomegranate', 'strawberry', 'berry', 'pomegranate', 'strawberry', 'berry']

list = []


for i in Fruits:
    if 'c' in i:            # find item which have alphabet 'c'.Fruits list doest not have any item in list which have 'c'
        list.append(i)      # it's return empty list
        
print(list)

[]