# String

1. In Python, strings are used to store and manipulate text data. They are defined using either single ('') or double ("") even triple ('''''')quotes.
2. It is an immutable data type, meaning that once you have created a string, you cannot change it.

### Creating

#### You can create strings using single or double quotes even triple quotes

In [1]:
# Creating a string and save into a variable
single_quoted = 'This is a single-quoted string.'
double_quoted = "This is a double-quoted string."
triple_quoted = '''This is a triple-quoted string.'''

print(single_quoted)
print(double_quoted)
print(triple_quoted)

This is a single-quoted string.
This is a double-quoted string.
This is a triple-quoted string.

### Concatenation

#### Strings can be concatenated using the '+' operator.

In [2]:
first_name = "Mohammad"
last_name = "Iqbal"
full_name = first_name + " " + last_name # "(space)" use for Sapce between string Output Mohammad Iqbal
print(full_name)

Mohammad Iqbal

In [3]:
full_name = first_name + last_name # not using "(space)"  Output MohammadIqbal
print(full_name)

MohammadIqbal

In [4]:
# Note
# Give a number in quotes it's count as a string 
a = '1' 
b = '2' 
print(a+b)
print(type(a))

12
<class 'str'>

### Escaping Characters

#### Use a backslash () to escape special characters within strings.

In [5]:
escaped_string = "This string has a newline: \n And a tab: \t"
print(escaped_string)

This string has a newline:
 And a tab:

### String Repetition

#### You can repeat a string using the * operator.

In [6]:
repeated_string = "Hello!" * 3  # Output "Hello!Hello!Hello!"
print(repeated_string)

Hello!Hello!Hello!

### Accessing Characters

#### You can access individual characters in a string using indexing
<img src='indexing.png'>

In [7]:
word = "Python Indexing"
first_letter = word[0]  # "P"
last_letter = word[-1]   # "g"

print(first_letter)
print(last_letter)

P
g

### Slicing Strings

#### Slicing allows you to extract substrings from a string.

In [8]:
text = "Python Indexing"
substring1 = text[7:12]  # starting with index 7 and ending with index 11 (not including 12)
substring2 = text[-2:-6:-1]  # Extract characters from index -2 to index -5 in reverse order
print(substring1)
print(substring2)

Index
nixe

### String Comparison
#### Strings can be compared using standard comparison operators

In [9]:
str1 = "apple"
str2 = "banana"
result = str1 < str2  # True, based on lexicographic order
print(result)

True

### Built_in Function

#### len(): Returns the length of a string.

In [10]:
text = "Hello, World!"
length = len(text)  # Returns 13
print(length)

13

#### str(): Converts non-string values to strings.

In [11]:
number = 42
string_number = str(number)  # Converts 42 to "42"
print(type(string_number))

<class 'str'>

#### upper() and lower(): Convert strings to uppercase or lowercase.

In [12]:
text = "Hello, World!"
uppercase = text.upper()  # "HELLO, WORLD!"
lowercase = text.lower()  # "hello, world!"
print(uppercase)
print(lowercase)

HELLO, WORLD!
hello, world!

#### capitalize(): Capitalizes the first letter of a string.

In [13]:
text = "hello, world!"
capitalized = text.capitalize()  # "Hello, world!"
print(capitalized)

Hello, world!

#### title(): Capitalizes the first letter of each word in a string.

In [14]:
text = "hello world"
title_case = text.title()  # "Hello World"
print(title_case)

Hello World

#### strip(), lstrip(), and rstrip(): Removes leading/trailing whitespace.

In [15]:
message = "   Hello, World!   "
trimmed = message.strip()   # "Hello, World!"
left_trimmed = message.lstrip()  # "Hello, World!   "
right_trimmed = message.rstrip()  # "   Hello, World!"
print(trimmed)
print(left_trimmed)
print(right_trimmed)

Hello, World!
Hello, World!
   Hello, World!

#### replace(): Replaces occurrences of a substring with another.

In [16]:
text = "Hello, World!"
new_text = text.replace("World", "Universe")  # "Hello, Universe!"
print(new_text)

Hello, Universe!

#### find() and index(): Find the index of a substring in a string.

In [17]:
sentence = "Python is fun and Python is powerful"
index = sentence.find("Python")  # Returns 0 (index of first occurrence)
print(index)

0

#### count(): Counts the occurrences of a substring in a string.

In [18]:
sentence = "Python is fun and Python is powerful"
count = sentence.count("Python")  # Returns 2
print(count)

2

#### startswith() and endswith(): Checks if a string starts or ends with a specific substring.

In [19]:
text = "Hello, World!"
starts_with_hello1 = text.startswith("Hello")  # True
ends_with_world = text.endswith("World!")  # True
starts_with_hello2 = text.startswith("World!")  # False

print(starts_with_hello1)
print(ends_with_world)
print(starts_with_hello2)

True
True
False

#### split(): Splits a string into a list of substrings based on a delimiter.

In [20]:
text = "apple,banana,orange"
fruits_list = text.split(",")  # ['apple', 'banana', 'orange']
print(fruits_list)

['apple', 'banana', 'orange']

#### join(): Joins a list of strings into a single string using a specified delimiter.

In [21]:
fruits_list = ['apple', 'banana', 'orange']
joined_text = ",".join(fruits_list)  # "apple,banana,orange"
print(joined_text)

apple,banana,orange

#### isalpha(), isdigit(), isalnum(), isspace(): Check if a string consists of alphabetical characters, digits, alphanumeric characters, or whitespace characters, respectively.

In [22]:
text = "abc123"
is_alpha = text.isalpha()   # False (contains digits)
is_digit = text.isdigit()   # False (contains alphabetic characters)
is_alnum = text.isalnum()   # True (contains only alphanumeric characters)
print(is_alpha)
print(is_digit)
print(is_alnum)

False
False
True

#### format(): Formats strings by replacing placeholders with values.

In [23]:
language = "Python"
formatted = "My first programming language is {}.".format(language)
print(formatted)

My first programming language is Python.